<div class="section">
    <div class="container d-flex flex-column align-items-center">
        <div>
            <h1 class="title position-relative pb-3 fw-bold">{{title}}</h1>
        </div>
        <div class="bodyText">
            <p>{{bodyText}}</p>
        </div>
        <div class="row">
            <div class="col-4" *ngFor="let item of whyChooseList">
                <div class="choose-box">
                    <div class="d-flex justify-content-between">
                        <img [src]="item.iconUrl" [alt]="item.a">
                        <span>0{{item.index}}</span>
                    </div>
                        <h5>{{item.heading}}</h5>
                        <p>{{item.bodyText}}</p>
                </div>
            </div>

        </div>
    </div>
</div>