<div class="header-main-section">
    <div class="container">
        <div class="d-flex flex-column align-items-center header-section">
            <h1 class="header text-center">{{headerSection.title[0]}}</h1>
            <h1 class="header text-center"><span class="text-danger">{{headerSection.title[1]}}</span></h1>
            <p>{{headerSection.bodyText}}</p>
            <button class="btn btn-primary">{{headerSection.buttonText}}</button>
            <!-- <h1 class="header text-center">Software Development Company & IT Consultancy <br> Serving <span class="text-danger">Start-UPs To Fortune 500</span></h1>
            <p>With the help of Innovation and Technology, We give you the power to change the world with your ideas.</p>
            <button class="btn btn-primary">Schedule a meeting</button> -->
            <app-header-carousel class="mt-5 mb-5"></app-header-carousel>
        </div>
    </div>
</div>