<div class="card review-card d-flex">
    <img src="/assets/images/double-invetate.png" alt="double-invetate">
    <p>TaglineInfotech managed to finish the demo successfully and in a timely manner. The team was able to provide
        great and direct communication throughout the project. They were able to utilize new technologies that are
        available in the development industry.</p>

    <div class="d-flex flex-row client align-items-center">
        <img src="/assets/images/client_fabio.webp" alt="client">
        <div class="d-flex flex-column">
            <p class="m-0 ps-2 fw-bold">Fabio</p>
            <p class="m-0 ps-2 designation">Co-founder,Ticketing Softwer Company</p>
        </div>
    </div>
</div>