.hire-devlopers{
    border: 2px solid silver;
    padding: 34px 27px;
    text-align: center;
}

.hire-devlopers>h4{
    font-size: 26px;
    margin-bottom: 42px;
    line-height: 32px;
    font-weight: 600;
}

.hire-devlopers p{
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 10px;
}

.right-section{
    background: linear-gradient(0deg,rgba(211,95,34,.8),rgba(211,95,34,.8)), url(/assets/images/dedicated-deveoper-bg.webp);
    background-size: cover;
}
.right-section-content{
    margin-top: auto;
}
.right-section-content h4{
    font-size: 40px;
    font-weight: 700;
    line-height: 51px;
    margin-bottom: 20px;
    color: white;
}

.right-section-content button{
    bottom: 16px;
    background: rgba(255,195,164,.5);
    padding: 15px 30px;
    color: white;
}