<div class="container-fluid">
    <div class="section">
        <div class="d-flex justify-content-center pb-5">
            <h1 class="title position-relative pb-3 fw-bold">{{title}}</h1>
        </div>
        <div class="row">
            <div class="d-flex flex-wrap offset-1 col-7">
                    <div *ngFor="let hireDev of hireDevelopersSection" [class]="hireDev.mainBoxClass">
                        <div class="hire-devlopers">
                            <h4>{{hireDev.title}}</h4>
                            <div class="d-flex flex-row">
                                <div *ngFor="let technology of hireDev.techList" [class]="technology.boxclass" class="d-flex flex-column align-items-center ps-3 pe-3">
                                    <img [src]="technology.imgUrl" [alt]="technology.imgAltText">
                                    <p>{{technology.bodyText}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="d-flex col-4 pe-0">
                <div class="right-section d-flex p-5">
                    <div class="right-section-content">
                        <h4>Hire Dedicated Developers for your dream project</h4>
                        <button class="btn fw-bold">Hire Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>