.head{
    background-image: url(/assets/images/main-head.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
// .head{
//     background: linear-gradient(180deg,rgba(255,255,255,0) 0%,rgba(196,196,196,0) .01%,rgba(217,97,34,.2) 100%);
// }