.service-title{
    
}

.service-title::after{
    position: absolute;
    content: '';
    height: 2px;
    background-color: black;
    width: 70%;
    bottom: 1px;
    text-align: center;
    left: 40px;
    right: 0;
    background: radial-gradient(50% 151250% at 50% -100%,#d96122 0%,rgba(255,255,255,0) 100%);
}
 
.offers::after{
    position: absolute;
    content: '';
    height: 11px;
    background-color: rgba(217,97,34,.25);
    opacity: 0.5;
    width: 100%;
    bottom: 10px;
    text-align: center;
    left: 0px;
    right: 0;
}

.title>h1{
    font-size: 56px;
    line-height: 84px;
}
.learn-more{
    position: absolute;
    bottom: 20px;
}
.learn-more a{
    text-decoration: none;
    color: rgba(217,97,34,1);
    font-weight: 700;
}
.card{
    min-height: 350px;
    padding: 10px;
}
.card-title{
    width: 270px !important;
}

.card-text{
    line-height: 30px !important;
}

.card-img{
    filter: drop-shadow(0 10px 15px rgba(112,65,44,.65));
    height: 65px;
    width: 65px;
    margin-right: 20px;
}

.contact-card{
    background-color: #d96122;
}

.contact-card img{
    position: absolute;
    top: -100px;
    right: 0;

}

.contact-card h5{
    line-height: 50px;
}

.contact-card button{
    bottom: 16px;
    position: absolute;
    background: rgba(255,195,164,.5);
    padding: 15px 30px;
}