<div class="contact-main-section position-relative">
    <div class="container">
        <div class="row">
            <div class="col-6 d-flex flex-column experience-text-card">
                <h1 class="fs-2 fw-bold mb-3">We have the experience</h1>
                <p >We have got the experience to make your dream come true, and these stats speak for themselves: we have 350+
                    clients worldwide in only five years, and we have worked on over 650+ projects, all of which have been
                    finished successfully and on schedule, with 100% client satisfaction. We also have 250K+ hours of
                    freelancing experience.</p>
                    <button class="btn col-3">Contact Us</button>
            </div>

            <div class="col-6 experience-list d-flex flex-column align-items-center">
                <ul class="d-flex flex-row justify-content-center">
                    <li >
                        <div class="">
                            <img src="/assets/images/experienced-professionals.webp" alt="">
                            <h1 class="fs-1 fw-bold">150+</h1>
                            <p>Professional</p>
                        </div>
                    </li>
                    <li>
                        <div class="">
                            <img src="/assets/images/experianced-projects.webp" alt="">
                            <h1 class="fs-1 fw-bold">650+</h1>
                            <p>Completed Projects</p>
                        </div>
                    </li>
                </ul>
                <ul class="d-flex flex-row justify-content-center">
                    <li>
                        <div class="">
                            <img src="/assets/images/experianced-freelancing.webp" alt="">
                            <h1 class="fs-1 fw-bold">250K+</h1>
                            <p>Freelance Hours</p>
                        </div>
                    </li>
                    <li>
                        <div class="">
                            <img src="/assets/images/experianced-years.webp" alt="">
                            <h1 class="fs-1 fw-bold">5+</h1>
                            <p>Years of experience</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="contact-woman">
                <img src="/assets/images/contact-woman.webp" alt="contact-woman">
                <img class="chat-bubble" src="/assets/images/chat-bubble.webp" alt="">
            </div>
        </div>
    </div>
</div>

