
<div class="tech-section">
    <div class="d-flex justify-content-center pb-5">
        <h1 class="our-technologies-title position-relative pb-3 fw-bold">Our Technologies</h1>
    </div>
    <div class="container">
        <div class="tech-box">
            <div class="row">
                <div class="col-4 tech-list">
                    <ul class="list-group nav nav-tabs">
                        <li class="list-group-item active" aria-current="true"><a href="#web" data-toggle="tab">Web</a></li>
                        <li class="list-group-item"><a href="#mobile" data-toggle="tab">Mobile</a></li>
                        <li class="list-group-item"><a href="#desktop">Desktop</a></li>
                        <li class="list-group-item"><a href="#platforms">Platforms</a></li>
                        <li class="list-group-item"><a href="#db">Databases / Data Storages</a></li>
                        <li class="list-group-item"><a href="#bigdata">Big Data</a></li>
                        <li class="list-group-item"><a href="#ml">Machine Learning</a></li>
                        <li class="list-group-item"><a href="#devops">DevOps</a></li>
                        <li class="list-group-item"><a href="#clouds">Clouds</a></li>
                    </ul>
                </div>
                <div class="col-8 tab-content">
                    <div id="web" class="tab-pane fade in">
                        <div class="tech-header position-relative">
                            <h4 class="position-relative">
                                Web
                            </h4>
                        </div>
                        <div class="tech-content">
    
                        </div>
                    </div>
                    <div id="mobile" class="tab-pane fade in">
                        <div class="tech-header position-relative">
                            <h4 class="position-relative">
                                Mobile
                            </h4>
                        </div>
                        <div class="tech-content">
    
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-center">
            <button class="btn request-btn">
                Request for Quotation
            </button>
        </div>
    </div>
</div>
