<div class="contact-main-section position-relative">
    <div class="container">
        <div class="row">
            <div class="col-3 d-flex align-items-center">
                <div class="title">
                    <h1 class="fw-bold">What our <span class="clients position-relative">clients</span> say about us.
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8 d-flex flex-row">
        <app-clients-review-card></app-clients-review-card>
        <app-clients-review-card></app-clients-review-card>
        <app-clients-review-card></app-clients-review-card>
    </div>
</div>