/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


:root{
    --bs-primary: #d96122;
}


.title::after{
    position: absolute;
    content: '';
    height: 2px;
    background-color: black;
    width: 70%;
    bottom: 1px;
    text-align: center;
    left: 40px;
    right: 0;
    background: radial-gradient(50% 151250% at 50% -100%,#d96122 0%,rgba(255,255,255,0) 100%);
}

.section{
    padding-top: 70px;
}