<div class="container pt-5 pb-5">
    <div class="d-flex justify-content-center pb-5 position-relative">
        <h1 class="case-studies-title position-relative pb-3 fw-bold">Case studies</h1>
    </div>
    <div class="row">
        <div class="col-5 recognize case-studies-card">
            <img src="/assets/images/recognize-white-logo.png" alt="recognize-logo">
            <p>Recognition, manage nominations, offer rewards, & automate service anniversaries. By developing such a recognized application.</p>
        </div>
        <div class="col-7 promoprep case-studies-card">
            <img src="/assets/images/promoprep-white-logo.png" alt="promoprep-logo">
            <p>Replace confusing spreadsheets with marketing calendar software built for marketing teams.</p>
        </div>
        <div class="col-6 investing case-studies-card">
            <img src="/assets/images/investing-white-logo.png" alt="investing-logo">
            <p>Make better stock investing decisions by joining the most exclusive community of stock investors. Learn, share & grow through authentic real-time discussion.</p>
        </div>
        <div class="col-3 jeeve case-studies-card">
            <img src="/assets/images/jeeve-white-logo.png" alt="jeeve">
            <p>Complete Business Solutions for your dental clinic.</p>
        </div>
        <div class="col-3 care-clinic case-studies-card">
            <img src="/assets/images/care-clinic-white-logo.png" alt="care-clinic">
            <p>Build Healthy Habits. Stay Accountable. Share, Learn & Act on Insights.</p>
        </div>
    </div>
</div>